{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
Checkout
{% endblock %}
{% block user %}
{% if request.user.is_authenticated %}
    <a href="{% url 'user_profile' %}" class="btn border">
        <i class="fa fa-user" aria-hidden="true" style="color: #F1B709;"></i>
        <span class="badge">{{user}}</span>
    </a>
{% endif %}
{% endblock %}

{% block content %}

<!-- Navbar Start -->

<div class="container-fluid mb-5">

    <div class="row border-top px-xl-5">
        <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                <a href="" class="text-decoration-none d-block d-lg-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shop</h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="index.html" class="nav-item nav-link active">Home</a>
                        <a href="{% url 'shop' 'formal-shirt' %}" class="nav-item nav-link">Shop</a>
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="cart.html" class="dropdown-item">Shopping Cart</a>
                                <a href="checkout.html" class="dropdown-item">Checkout</a>
                            </div>
                        </div> -->
                        <a href="contact.html" class="nav-item nav-link">Contact</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% url 'signout' %} " class="nav-item nav-link">Sign out</a>
                    </div>
                    {% else %}
                    <div class="navbar-nav ml-auto py-0">
                        <a href="{% url 'signin' %}" class="nav-item nav-link">Login</a>
                        <a href="{% url 'signup' %} " class="nav-item nav-link">Register</a>
                    </div>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            {% if details %}
            <div class="card mb-5">
                <div class="card-body">
                    <h5 class="card-title section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Selected Address</span></h5>
                    <div class="bg-light p-30">
                        <p class="mb-2"><strong>First Name: </strong>{{ details.first_name }}</p>
                        <p class="mb-2"><strong>Last Name: </strong>{{ details.last_name }}</p>
                        <p class="mb-2"><strong>House no./Name: </strong>{{ details.house_name }}</p>
                        <p class="mb-2"><strong>Area: </strong>{{ details.area }}</p>
                        <p class="mb-2"><strong>City: </strong>{{ details.city }}</p>
                        <p class="mb-2"><strong>State: </strong>{{ details.state }}</p>
                        <p class="mb-2"><strong>Zip code: </strong>{{ details.pincode }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Order Total</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom">
                    <h6 class="mb-3">Products</h6>
                    {% for item in user_cart.cartitem_set.all %}
                    <div class="d-flex justify-content-between">
                        <p>{{item.variant}}</p>
                        <p>{{item.price}}</p>
                        <p>{{item.variant.product.discount_percent}}%OFF</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="border-bottom pt-3 pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>{{user_cart.total_price}}</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$0</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>{{user_cart.total_price}}</h5>
                    </div>
                </div>
            </div>
          <div class="mb-5">
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Payment</span></h5>
                <div class="bg-light p-30">
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="razorpay-radio" name="payment-method" value="razorpay">
                            <label for="razorpay-radio">Pay with Razorpay</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="cash-on-delivery-radio" name="payment-method" value="cash-on-delivery" checked>
                            <label for="cash-on-delivery-radio">Cash on delivery<i class="fa fa-money" aria-hidden="true"></i></label>
                        </div>
                    </div>
                    {% if wallet.wallet_amount >= user_cart.total_price %}
                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="wallet-pay-radio" name="payment-method" value="wallet-pay">
                            <label for="wallet-pay-radio">Pay with wallet</label>
                        </div>
                    </div>
                    {% endif %}
                    <a href="{% url 'place_order' details.id %}" id="place-order-btn">
                        <button class="btn btn-block btn-primary font-weight-bold py-3">Place Order</button>
                    </a>
                    <a href="#" id="next-btn" style="display: none;">
                        <button id="rzp-button1" class="btn btn-block btn-primary font-weight-bold py-3">Next</button>
                    </a>
                    <a href="{% url 'wallet_pay' details.id %}" id="wallet-btn" style="display: none;">
                        <button id="wallet-button" class="btn btn-block btn-primary font-weight-bold py-3">Pay with Wallet</button>
                    </a>
                    </div>
            </div>
        </div>
    </div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    // Get the radio buttons and button elements
    const razorpayRadio = document.getElementById('razorpay-radio');
    const cashOnDeliveryRadio = document.getElementById('cash-on-delivery-radio');
    const walletPayRadio = document.getElementById('wallet-pay-radio');
    const placeOrderBtn = document.getElementById('place-order-btn');
    const nextBtn = document.getElementById('next-btn');
    const walletBtn = document.getElementById('wallet-btn');

    placeOrderBtn.disabled = true;

    // Add event listeners to the radio buttons
    razorpayRadio.addEventListener('change', function() {
        placeOrderBtn.style.display = 'none';
        walletBtn.style.display = 'none';
        nextBtn.style.display = 'block';
        cashOnDeliveryRadio.innerHTML = 'Cash on delivery';
    });

    cashOnDeliveryRadio.addEventListener('change', function() {
        placeOrderBtn.style.display = 'block';
        nextBtn.style.display = 'none';
        walletBtn.style.display = 'none';
        placeOrderBtn.disabled = false;
        cashOnDeliveryRadio.innerHTML = 'Cash on delivery <i class="fa fa-money" aria-hidden="true"></i>';
    });

    walletPayRadio.addEventListener('change', function() {
    placeOrderBtn.style.display = 'none';
    walletBtn.style.display = 'block';
    nextBtn.style.display = 'none';
    cashOnDeliveryRadio.innerHTML = 'Cash on delivery';
    });


    function initiateRazorpayPayment(){
  // Make an AJAX POST request to initiate the payment
  $.ajax({
      type: "POST",
      url: "/initiate_payment",  // Replace with the actual URL of your Django view
      headers: { "X-CSRFToken": "{{ csrf_token }}" }, // Add this line to include the CSRF token
      dataType: 'json',  // Expect JSON response from the server
      success: function(response) {
          // Update the options with the received data from the server
          var options = {
              "key": response.key,
              "amount": response.amount,
              "currency": response.currency,
              "name": "E-shop commerce",
              "description": "Thank you for your purchase",
              "order_id": response.order_id,
              "handler": function (response) {
                 alert(response.razorpay_payment_id);
                  alert(response.razorpay_order_id);
                  alert(response.razorpay_signature);

                  var paymentId = response.razorpay_payment_id;
                  var orderId = response.razorpay_order_id;
                  var signature = response.razorpay_signature;

                  $.ajax({
                      type: "POST",
                      url: "/online_payment_order/{{details.id}}",
                      headers: { "X-CSRFToken": "{{ csrf_token }}" },
                      data: {
                          payment_id: paymentId,
                          orderId: orderId,
                          signature: signature
                      },
                      success: function(response) {
                          var id = response.orderid
                          console.log("Order ID:",typeof id);
                          window.location.href = `/order_success/${Number(id)}`;

                          console.log("Order placed successfully!");
                      },
                      error: function(xhr, status, error) {
                          // Handle the error if any
                          console.log(xhr.responseText);
                          alert("Error placing the order. Please try again.");
                      }
                  });


              },
              "prefill": {
                  "name": "Athul Rajagopal",
                  "email": "eshopcommerce3@gmail.com",
                  "contact": "9000090000"
              },
              "notes": {
                  "address": "Razorpay Corporate Office"
              },
              "theme": {
                  "color": "#3399cc"
              }
          };

          // Create a new instance of Razorpay with updated options
          var rzp1 = new Razorpay(options);

          // Handle the payment response
          rzp1.on('payment.failed', function(response) {
              alert(response.error.code);
              alert(response.error.description);
              alert(response.error.source);
              alert(response.error.step);
              alert(response.error.reason);
              alert(response.error.metadata.order_id);
              alert(response.error.metadata.payment_id);
          });

          // Open the Razorpay payment popup
          rzp1.open();
      },
      error: function(xhr, status, error) {
          // Handle the error if any
          console.log(xhr.responseText);
          alert("Error initiating payment. Please try again.");
      }
  });

  e.preventDefault();
};
nextBtn.addEventListener('click', function() {
        var paymentOption = document.querySelector('input[name="payment-method"]:checked').value;

        if (paymentOption === "razorpay") {
            initiateRazorpayPayment();
            console.log("Pay using Razorpay selected");
        }
    });

</script>
{% endblock %}
