{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
Order placed
{% endblock %}
{% block user %}
{% if request.user.is_authenticated %}
    <a href="{% url 'user_profile' %}" class="btn border">
        <i class="fa fa-user" aria-hidden="true" style="color: #F1B709;"></i>
        <span class="badge">{{user}}</span>
    </a>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Order Placed Successfully!</h1>
            <p>Thank you for your purchase. Your order has been placed successfully.</p>
            <!-- You can customize this page further to include order details, payment information, etc. -->
        </div>
    </div>
</div>
{% endblock %}
