{%extends 'admin_panel/adminbase.html'%}
{% load static %}
{% block title %}
category
{% endblock %}
{% block content %}

{% block name %}
<a href="" target="_blank" class="btn btn-primary">{{request.user}}</a>
{% endblock %}

<div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">CATEGOREY</h5>
          <table class="table">

            <thead>
              <tr>
                <th scope="col">no.</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            {% for category in categories %}
              <tr>
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>
                  <a href="{% url 'edit_category' category.id %}" class="text-center btn btn-warning btn-sm">EDIT</a>
                </td>
                {% if category.is_active %}
                <td>
                  <a href="disable-category/{{category.id}}" class="text-center btn btn-danger btn-sm">Disable</a>
                </td>
                {% else %}
                <td>
                  <a href="enable-category/{{category.id}}" class="text-center btn btn-primary btn-sm">Enable</a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title fw-semibold mb-4">ADD CATEGOREY</h5>
          <div class="card">
            <div class="card-body">
              <form action="add-category" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Categeory name</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="category_name">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Image</label>
                  <input type="file" class="form-control" id="exampleInputPassword1" name="image">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
    
        </div>
      </div>
    </div>
  </div>

{% endblock %}  