{%extends 'admin_panel/adminbase.html'%}
{% load static %}
{% block title %}
Change-order-status
{% endblock %}
{% block content %}

{% block name %}
<a href="" target="_blank" class="btn btn-primary">{{request.user}}</a>
{% endblock %}

<div class="container-fluid">
        <div class="container-fluid">
            <div class="content-wrapper">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">orders</h5>
              <table class="table table-striped mt-2">
              <thead>
                <tr>
                <th>user ID</th>
                <th>user name</th>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Delivery Date</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>

              <tr>
                <td class="align-middle">{{ order.user.id }}</td>
                <td class="align-middle">{{ order.user.username }}</td>
               <td class="align-middle">{{ order.id }}</td>
                <td class="align-middle">{{ order.order_date }}</td>
                <td class="align-middle">{{ order.delivery_date }}</td>
                <td class="align-middle">{{ order.total_price }}</td>

                <td class="align-middle">
                    <form action="{% url 'change_status' order.id %}" method="post">{% csrf_token %}
                    <select name="status">
                      <option >PENDING</option>
                      <option >CANCELLED</option>
                      <option >DELIVERED</option>
                      <option >SHIPPED</option>
                    </select>

                    <button type="submit" class="btn btn-sm btn-warning">Done</button>

                    </form>
                </td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
     </div>
</div>
</div>



{% endblock %}