{%extends 'admin_panel/adminbase.html'%}
{% load static %}
{% block title %}
category
{% endblock %}
{% block content %}

{% block name %}
<a href="" target="_blank" class="btn btn-primary">{{request.user}}</a>
{% endblock %}
<section style="background-color: #eee;">
  <div class="container py-5">
 <div class="col-lg-8">
        <!-- Order Details -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Order Details</h5>
              <p><strong>User ID: </strong>{{ order.user.id }}</p>
              <p><strong>User name: </strong>{{ order.user.username }}</p>
            <p><strong>Order ID: </strong>{{ order.id }}</p>
            <p><strong>Order Date: </strong>{{ order.order_date }}</p>
            <p><strong>Delivery Date: </strong>{{ order.delivery_date }}</p>
            <p><strong>Price: </strong>{{ order.total_price }}</p>
            <p><strong>Payment method: </strong>{{ order.payment_method }}</p>
            <p><strong>Delivery Status: </strong>{{ order.payment_status }}</p>
            <p><strong>Delivery Address</strong></p>
             <div class="col-md-4 mb-4">
                  <div class="address-card p-4">
                        <p class="mb-2"><strong>Name: </strong>{{ order.address.first_name }} {{ order.address.last_name }}</p>
                        <p class="mb-2"><strong>House no./Name: </strong>{{ order.address.house_name }}</p>
                        <p class="mb-2"><strong>Area: </strong>{{ order.address.area }}</p>
                        <p class="mb-2"><strong>City: </strong>{{ order.address.city }}</p>
                        <p class="mb-2"><strong>State: </strong>{{ order.address.state }}</p>
                        <p class="mb-2"><strong>Zip code: </strong>{{ order.address.pincode }}</p>
                    </div>
                </div>
              <h6 class="mb-3">Products</h6>
             <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Item</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                {% for item in items %}
                <tr>
                  <td>{{ item.product.slug }}</td>
                  <td>{{ item.product.price }}</td>
                  <td>{{ item.quantity }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>
      </div>
        </div>
</section>
{% endblock %}