{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
Shop
{% endblock %}
{% block user %}
{% if request.user.is_authenticated %}
    <a href="{% url 'user_profile' %}" class="btn border">
                        <i class="fa fa-user" aria-hidden="true" style="color: #F1B709;"></i>
                        <span class="badge">{{user}}</span>



                        <!-- <i class="fas fa-shopping-cart text-primary"></i> -->
                    </a>
{% endif %}

{% endblock %}

{% block content %}
 <!-- Navbar Start -->
    <div class="container-fluid mb-5">
      <div class="row border-top px-xl-5">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
            <a href="" class="text-decoration-none d-block d-lg-none">
              <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shop</h1>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
              <div class="navbar-nav mr-auto py-0">
                <a href="/" class="nav-item nav-link ">Home</a>
                <a href="{% url 'shop' 'formal-shirt'%}" class="nav-item nav-link active">Shop</a>
                <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                  <div class="dropdown-menu">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    {% endfor %}
                  </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a>
              </div>
              {% if user.is_authenticated %}
              <div class="navbar-nav ml-auto py-0">
                <a href="{% url 'signout' %}" class="nav-item nav-link">Sign out</a>
              </div>
              {% else %}
              <div class="navbar-nav ml-auto py-0">
                <a href="{% url 'signin' %}" class="nav-item nav-link">Login</a>
                <a href="{% url 'signup' %}" class="nav-item nav-link">Register</a>
              </div>
              {% endif %}
            </div>
          </nav>
    <!-- Navbar End -->

                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="{% static 'image/carousal2.jpg' %}" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
<!--                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>-->
<!--                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">COUPLE WATCHES</h3>-->
<!--                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>-->
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="{% static 'image/carousal3.webp' %}" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
<!--                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>-->
<!--                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>-->
<!--                                    <a href="" class="btn btn-light py-2 px-3">Shop Now</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar End -->

<!-- Shop Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5">
       <div class="col-lg-3 col-md-12">

<!--             Filter Start -->
            <div class="mb-5">
                <h5 class="font-weight-semi-bold mb-4">Filter by price</h5>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <input type="number" class="form-control" id="minPriceInput" name="min_price" placeholder="Min Price">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="maxPriceInput" name="max_price" placeholder="Max Price">
                        </div>
                    </div>
                    <h5 class="font-weight-semi-bold mb-4">Filter by size</h5>
                    {% for size in size %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="size-{{ forloop.counter }}" name="size" value="{{ size.size }}">
                        <label class="custom-control-label" for="size-{{ forloop.counter }}">{{size.size}}</label>
                    </div>
                    {% endfor %}
                    <h5 class="font-weight-semi-bold mb-4">Filter by Brand</h5>
                    {% for brand in brands %}
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="brand-{{ forloop.counter }}" name="brand" value="{{ brand.name }}" >
                        <label class="custom-control-label" for="brand-{{ forloop.counter }}">{{brand.name}}</label>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
            <!-- Filter End -->

        </div>
<!--         Shop Sidebar End -->
 <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-12">
            <div class="row pb-3">
                <!-- test -->
                <div class="row px-xl-5 pb-3">
                    {% for variant in page_obj %}
                    <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                        <div class="card product-item border-0 mb-4">
                            <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                                <a href="{{ variant.get_absolute_url }}">
                                    <img class="w-100 h-100 img-fluid-shop" src="{{ variant.display_image.url }}" alt="">
                                </a>
                            </div>
                            <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                <h6 class="text-truncate mb-3">{{ variant.product.name }}</h6>
                                <div class="d-flex justify-content-center">
                                    <h6>{{ variant.price }}</h6>
                                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-between bg-light border"></div>
                            {% if variant.product.is_active == 'False' %}
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <p><b>OUT OF STOCK</b></p>
                                </div>
                            {% elif variant.stock < 1 %}
                                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                                    <p><b>OUT OF STOCK</b></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </div>
                        <div class="row px-xl-5 pb-3">
                    {% endif %}
                {% endfor %}
                </div>


                <!-- test -->
             <div class="col-12 pb-1">
                        <!-- Render the pagination links -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center mb-3">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </li>
                                {% endif %}

                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <span class="page-link" aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
<!-- Shop Product End -->
    </div>
</div>


{% endblock %}


