{% extends 'homepage/base.html' %}
{% load static %}
{% block title %}
User
{% endblock %}

{% block content %}
<style>
  .address-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
  }

  .address-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .address-card p {
    margin: 5px 0;
  }

  .address-card .name {
    font-weight: bold;
  }

  .address-card .address {
    font-style: italic;
  }

  .address-card .zipcode {
    margin-bottom: 0;
  }

  .add-address-button {
    margin-top: 20px;
    text-align: center;
  }

  .address-container {
    max-height: 500px !important;
    overflow-y: auto !important;
  }

</style>



<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="user-profile">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Address</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{% static 'image/user.png' %}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ request.user }}</h5>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-center align-items-center p-3 btn btn-outline-primary ms-1">
                <i></i>
                <a href="{% url 'user_profile' %}" style="color:black;"><p class="mb-0">Profile</p></a>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-3 btn btn-outline-primary ms-1">
                <i style="color: #333333;"></i>
                <a href="{% url 'user_address' %}" style="color:black;"><p class="mb-0">Address</p></a>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-3 btn btn-outline-primary ms-1">
                <i style="color: #55acee;"></i>
                <p class="mb-0" style="color:black;">Wallet</p>
              </li>
              <li class="list-group-item d-flex justify-content-center align-items-center p-3 btn btn-outline-primary ms-1">
                <i style="color: #ac2bac;"></i>
                 <a href="{% url 'view_orders' %}" style="color:black;"><p class="mb-0">orders</p></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 address-container">
        {% for details in details %}
        <div class="address-card">
          <h3>Address {{details.id}}</h3>
          <p class="name">{{details.first_name}} {{details.last_name}}</p>
          <p class="address">{{details.house_name}}</p>
          <p class="city">{{details.area}}</p>
          <p class="state">{{details.city}}</p>
          <p class="country">{{details.state}}</p>
          <p class="zipcode">{{details.pincode}}</p>
          <div class="add-address-button">
            <a href="{% url 'edit_address' details.id %}">
              <button class="btn btn-primary btn-sm">EDIT</button>
            </a>
            <a href="{% url 'delete_address' details.id %}">
              <button class="btn btn-danger btn-sm">delete</button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-4 add-address-button">
        <a href="{% url 'add_user_address' %}">
          <button class="btn btn-primary btn-sm">Add Address</button>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
