{% extends 'accounts/base.html' %}

{% block content %}

<body>
    {% for message in messages %}

    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message</strong>  {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


        <section class="vh-100 bg-image" style="margin-top: -90px;">
 <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Login</h2>

              <form action="reset-password" method="post">{% csrf_token %}


                <div class="form-outline mb-4">
                    <label class="form-label  " for="form3Example1cg">New password</label>
                    <input type="password" id="username" name="password1" class="form-control form-control-lg" required />
                  </div>



                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1cg">Confirm Password</label>
                    <input type="password" id="pass1" name="password2" class="form-control form-control-lg" required/>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" style="background-color: #f05e54; color: white; border-color: transparent;" >Login</button>

                </div>


              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
    </div>
</body>
{% endblock %}